:root {
    --base: #00b7ff;
    --bg: #e3e3e3;
    --bg2:white;

    --icon-size: 24px;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
}
.logo-header>img {
    width: 36px;
}
.logo-header {
    display: flex;
    align-items: center;
    font-family: Roboto ,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 16px;
    font-size: 1.5rem;
    font-weight: bold;
}
a>img , .btn>img , .icons>img {
    width: var(--icon-size);
}
.nav ul{
    padding: 0;
}

.nav ul{
    display: grid;
    gap: 24px;
    font-weight: bold;
}
.technical{
    margin-top: 60px;
}
.nav a{
    display: flex;
    align-items: center;
    gap: 22px;
    padding: 0px 8px;
    border-radius: 50px;
    transition: background-color 0.3s;
}



.container {
    display: grid;
    grid-template: 0.5fr 4fr / 1fr 3fr 1fr;
    width: 100%;

    background-color: var(--bg);
}
.dashboard {
    grid-area: 1 / 1 / 4 / 2;
    background-color: var(--base);
    color: white;
}
.header {
    grid-area: 1 / 2 /2 / 4;
    background-color: var(--bg2);
    color: black;
}
.header , .dashboard {
    padding: 16px;
    box-sizing: border-box;
}
.header {
    display: grid;
    grid-template: repeat(2 , 0.5fr)/ 2fr 1fr;
    align-items: center;
}
.searchbar, .profile , .profile2 , .links>ul {
    display: flex;
    align-items: center;
    gap: 8px;
}
.profile{
    justify-content: center;
    gap: 20px;
    font-weight: bold;
}
.profile2 img[src*="Cat"] {
    width: 80px;
    height: 80px;
    border-radius: 100%;
}
.profile2 p {
    margin: 0;
    font-weight: bold;
    font-size: 1.5rem;
}
.profile2 p:first-of-type {
    font-size: 1rem;
}
.main {
    grid-area: 2 / 2 / 4 / 3;
    color: black;
    padding: 16px;
    box-sizing: border-box;
    gap: 16px;
}
.side-bar {
    grid-area: 2 / 3 / 4 / 4;
    color: black;
    padding: 16px;
    box-sizing: border-box;
}
.main-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1.5fr));
    gap: 32px;
}
.card {
    background-color: var(--bg2);
    padding: 16px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-left: #ffaa00 8px solid;
}
.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    transition: background-color 0.3s;
}
input {
    padding: 8px;
    background-color: var(--bg);
    border: 1px solid #ccc;
    border-radius: 50px;
    width: 80%;
    box-sizing: border-box;
}
img[src*=".jpeg"]
{
    width: 48px;
    height: 48px;
    border-radius: 100%;
}

.links>ul>li {
    padding: 12px 24px;
    border-radius: 50px;
    font-size: 0.9rem;
    color: white;
    background-color: var(--base);
    cursor: pointer;
    transition: background-color 0.3s;
}
.links>ul {
    gap: 20px;
    font-weight: 700;
}
.user-card {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
}
.name p {
    margin: 0;
}
.name p:last-of-type {
    color: gray;
}
.announcements {
    background-color: var(--bg2);
    padding: 16px;
    border-radius: 8px;
}
.sidebar h3 {
    text-align: center;
}
.announcements .title {
    font-weight: bold;
}
.announcement-card p:last-of-type {
    color: gray;
    font-size: 0.9rem;
}
.users {
    background-color: var(--bg2);
    padding: 16px;
    border-radius: 8px;
}
.icons {
    display: flex;
    gap: 24px;
    justify-content: end;
}
